.about {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 5rem;
}

.abt-cont {
    width: 70%;
    font-size: 1.3rem;
    color: rgb(83, 83, 83);
    line-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



